h2 {
  font-size: 30px;
}
label {
  font-weight: bold;
  font-size: 18px;
}

body {
  font-family: Arial;
  padding: 20px;
  background-color: rgb(180, 247, 247);
}
input {
  margin: 5px 0;
  padding: 6px;
  width: 200px;
  background-color: rgb(255, 255, 255);
}
button {
  padding: 8px 12px;
  cursor: pointer;
}
button:hover {
  background-color: #1100ff;
  color: white;
}
button:active {
  background-color: #0000cc;
}
button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.error {
  font-size: large;
  font-weight: bold;
  color: red;
  margin: 10px 0;
}
.user-card {
  padding: 8px;
  border: 3px solid #1100ff;
  margin: 10px 0;
  background-color: rgb(255, 193, 58);
}
