.badge {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 0.5rem;
  font-weight: 600;
  border-radius: 12px;
  text-align: center;
}

.success {
  background-color: #33d559;
  color: #f5f5f5;
}
