.btn {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.primary {
  background-color: #007bff;
  color: white;
}

.secondary {
  background-color: #6c757d;
  color: white;
}
.outline {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}
