@import url(./blog.css);
@import url(./contatti.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  display: inline-block;
  width: 100px;
}
a {
  color: red;
}

.Titoli {
  color: red;
}
